[submodule "dotfiles/common/.vim/bundle/nerdtree"]
	path = dotfiles/common/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "dotgit"]
	path = dotgit
	url = https://github.com/kobus-v-schoor/dotgit
